:root {
  --main-bg-color: #607274;
  --text-color: #333;
}

body {
  margin: 0;
  min-width: 380px;
}

input {
  padding: 0.3rem;
  font-size: 0.7rem;
  letter-spacing: 0.6px;
}

select {
  padding: 0.3rem;
  font-size: 0.7rem;
}

a {
  font-size: 0.8rem;
}
